@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.IBM {
  font-family: 'IBM Plex Sans', sans-serif;
}

.Roboto {
  font-family: 'Roboto', sans-serif;
}
/* Custom styles for the navigation arrows */
.swiper-button-next,
.swiper-button-prev {
  color: #939598 !important;
  font-size: 24px;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  color: #939598;
}

/* Change the color of the active pagination bullet */
.swiper-pagination-bullet-active {
  background-color: #aa2d35 !important; /* Replace with your desired color */
}

/* Change the color of the inactive pagination bullets */
.swiper-pagination-bullet {
  background-color: #ccc; /* Replace with your desired color */
  opacity: 0.7; /* Optional: make them slightly transparent */
}

/* Optional: Hover effect on pagination bullets */
.swiper-pagination-bullet:hover {
  opacity: 1;
}
